# http://editorconfig.org

; top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.php]
indent_style = space
indent_size = 4
indent_brace_style = K&R

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[nginx.conf]
indent_style = space
indent_size = 2

[**.coffee]
indent_style = space
indent_size = 2

[**.js]
indent_style = space
indent_size = 2

# Tabs in less
[**.less]
indent_style = tab
indent_size = 2

[**.css]
indent_style = tab
indent_size = 2

[**.html]
indent_style = tab
indent_size = 2

