### symfony ###
/autotrader/symfony
/autotrader/.web-server-pid
/autotrader/app/config/parameters.yml
/autotrader/build/
/autotrader/phpunit.xml
/autotrader/var/*
!/autotrader/var/cache
/autotrader/var/cache/*
!autotrader/var/cache/.gitkeep
!/autotrader/var/logs
/autotrader/var/logs/*
!autotrader/var/logs/.gitkeep
!/autotrader/var/sessions
/autotrader/var/sessions/*
!autotrader/var/sessions/.gitkeep
!autotrader/var/SymfonyRequirements.php
/autotrader/web/bundles/

### Logs ###
logs
*.log
pip-log.txt
npm-debug.log*
/logs

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### SublimeText ###
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

#workspace files are user-specific
.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
.sublime-project
